@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background-color: rgb(34, 32, 32);
  color: #fff;
}

.dark input {
  background-color: rgb(34, 32, 32);
}

th {
  text-align: start;

  padding: 10px 0;
}

.x-boss:hover .x {
  transition: all 0.1s ease-in-out;
  background-color: rgb(211, 129, 129);
}
